/*------------------------ Body ------------------------*/
body{
  text-align:center;
  color:white;
}
/*------------------------ Body ------------------------*/
h6{
  font-size:5px
}

a{
  font-size:40px;
}

h2{
  font-size:25px;
}
/*------------------------ DIVS ------------------------*/
div#academic{
  background-color:#87cefa;
}

div#personal{
  background-color:#ff4061;
}

div#social{
  background-color:#fdfd96;
}
#academic, #personal, #social{
  padding:2rem 5rem 2rem 5rem ;
  width:5rem;
  height:2rem;
}
/*------------------------ Footer ------------------------*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
/*------------------------ Footer ------------------------*/
