header{
  margin:8% 0% 8%;
}

h6{
  font-size:5px
}

h2{
  font-size:25px;
}
/*------------------------ Body ------------------------*/
body{
  text-align:center;
  color:white;
}

a{
  font-size:100px;
  font-weight:bolder;
  position:center;
}
/*------------------------ DIVS ------------------------*/
div#academic{
  background-color:#87cefa;
}

.academic{
  color:#783105;
}

div#personal{
  background-color:#ff4061;
}

.personal{
  color:#00bf9e;
}

div#social{
  background-color:#fdfd96;
}

.social{
  color:#020269;
}

#academic, #personal, #social{
  padding:4rem 5rem 4rem 5rem ;
  width:100%;
  height:60%;
  margin:5% 0% 5%
}
/*------------------------ /Body ------------------------*/
/*------------------------ Footer ------------------------*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
/*------------------------ /Footer ------------------------*/
