/*------------------------ Header ------------------------*/
header{
  font-size:60px;
  margin:25% 0% 25%;
}

h6{
  font-size:5px
}

h2{
  font-size:25px;
}
/*------------------------ /Header ------------------------*/
body{
  text-align:center;
  color:white;
  font-family:Copperplate;
}

li{
  text-align:center;
}

a{
  font-size:80px;
  font-weight:bolder;
  margin: 40% 0% 40% 0%;
  text-align:center;
}
/*------------------------ DIVS ------------------------*/
div#academic{
  background-color:#87cefa;
}

.academic{
  color:#783105;
}

div#personal{
  background-color:#ff4061;
}

.personal{
  color:#00bf9e;
}

div#social{
  background-color:#fdfd96;
}

.social{
  color:#020269;
}

div#bucket-list{
  background-color:#e96933;
}

.bucket{
  color:#1696cc;
}
#academic, #personal, #social, #bucket-list{
  width:100%;
  height:100%;
}
.academic, .personal, .social, .bucket{
    text-align: center;
    font-size: 45px;
    /* width: 25%; */
    /* height: 25%; */
    font-family: Brush Script MT;
    /* text-underline-position: under; */
    text-decoration: none;
    /* position: absolute; */
    /* white-space: pre-line; */
    /* word-spacing: normal; */
    outline: auto;
    display: inline-table;
}
a.academic, a.personal, a.social, a.bucket{
  margin:40%
}

/*------------------------ Footer ------------------------*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
/*------------------------ /Footer ------------------------*/
